@media (min-device-width: 360px) and (max-device-width: 640px) {
  .lineChecklist {
    background-color: #ef6e23;
    width: 283px;
    height: 3px;
    position: absolute;
    margin-left: 5vh;
    margin-top: -2vh;
  }
  .titleChecklist {
    position: absolute;
left: -2.78%;
right: 1.39%;
top: 1.79%;
bottom: 93.54%;
font-family:ariel;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;
text-align: center;
color: rgba(0, 0, 0, 0.64);

  }
}
