.logooBHP{
    position: absolute;
    height: 32px;
    width: 84px;
    left: 32px;
    top: 23px;
    border-radius: 0px;
}

.SOSIcoN{
    height: 39vh;
    width: 34vh;
    margin-top: 17vh;
    margin-left: 9vh;
}